
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background:url('../../../images/bd.jpg') no-repeat top center;
    background-size: cover;
    height:100vh; /*stand for vertical height*/
}
.wrapper {
    position:absolute;
    top: 40%;
    width:100%;
    padding:0 30px;
}
.form-content {
    max-width: 550px;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    background:rgba(0,0,0,0.7);
    padding:30px;
    color:white;

    
    /* justify-content: space-between; */

}
.error {
    color :red;
    font-size:14px;
}
.text-field {
    display: flex;
    flex-direction: column;
    border: 1px solid cyan;
    
}



